<div ng-app="app">
	<div ng-view></div>
</div>
<script src="/bower/jquery/dist/jquery.min.js"></script>
<script src="/bower/moment/min/moment.min.js"></script>
<script src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/bower/typed.js/dist/typed.min.js"></script>

{{#if settings.production}}
<!-- TODO: update cache busting strategy-->
<script src="/js/app/build/app.min.js?v=1"></script>
{{else}}
<script src="/js/app/app.js"></script>
<script src="/js/app/route-config.js"></script>
<script src="/js/app/index/index-controller.js"></script>
<script src="/js/app/index/index-directive.js"></script>
<script src="/js/app/contact/contact-controller.js"></script>
<script src="/js/app/contact/contact-service.js"></script>
<script src="/js/app/filters/relative-date-time.js"></script>
<script src="/js/app/tweet/tweet-controller.js"></script>
<script src="/js/app/tweet/tweet-service.js"></script>
<script src="/js/app/auth/auth-service.js"></script>
{{/if}}
