<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tweeti</title>
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bower/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/bower/bootstrap-social/bootstrap-social.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<header>
  		<nav class="navbar navbar-default" role="navigation">
	  		<div class="container">
	  			<div class="navbar-header">
	  				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
	  					<span class="sr-only"></span>
	  					<span class="icon-bar"></span>
	  					<span class="icon-bar"></span>
	  					<span class="icon-bar"></span>
	  				</button>
	  				<a class="navbar-brand" href="#featured"><h1>Tweeti</h1></a>
	  			</div>{{!-- navbar header --}}
	  			<div class="collapse navbar-collapse" id="collapse">
	  				<ul class="nav navbar-nav navbar-right">
	  					<li class="active"><a href="">Home</a></li>
                        {{#if isAuth}}
                            <li><a href="/auth/logout">Logout</a></li>
                        {{else}}
                            <li><a href="/auth/twitter">Login with Twitter</a></li>
                        {{/if}}
	  				</ul>
	  			</div>{{!-- collapse navbar-collapse --}}
	  		</div>
  		</nav>  		
  	</header>
    {{{body}}}
    <footer>
    	<div class="content container-fluid">
    		<div class="row">
    			<div class="col-sm-6">
    				<p>All contents &copy; {{currentYear}} <a href="http://horaceheaven.com">horaceheaven.com</a>. All rights reserved.</p>
    			</div>{{!-- col-sm-6 --}}
    			<div class="col-sm-6">
    				<nav class="navbar navbar-default" role="navigation">
    					<ul class="nav navbar-nav navbar-right">
    						<li><a href="#">Terms of use</a></li>
    						<li><a href="#">Privacy policy</a></li>
    					</ul>
    				</nav>
    			</div>
    		</div>{{!-- row --}}
    	</div>{{!-- content container-fluid --}}
    </footer>
  </body>
</html>
