.contact-form {
    margin: 10px;
}

.contact-input-field {
    border-radius: 0px;
}

.contact-header-title {
    position: relative;
    margin: 25px;
    color: #ffffff;
    font-size: 2em;
    text-align: left;
    font-weight: bolder;
}

.contact-flash {
    position: fixed;
    top: 110px;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
}