body {
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
  font-weight: 100;
  margin: 0;
}

/* Start of Header */
header .navbar {
    padding: 30px 0;
    border-radius: 0px;
}

header .navbar-default {
    background-color: #000000;
    border: none;
    margin: 0;
}

header .navbar-default .navbar-nav a {
    color: #ffffff;
    padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
    color: #ffffff;
}

header .navbar-default .navbar-nav .active a {
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
    color: #ffffff;
    background-color: #000000;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:focus {
    color: #ffffff;
    background-color: #000000;
    text-shadow: none;
}

header .navbar-brand {
    position: relative;
}

header .navbar-brand h1 {
    position: absolute;
    top: 0px;
    color: #ffffff;
    margin: 0px;
    font-size: 1.8em;
    font-weight: bold;
}

header .navbar-toggle {
  background-color: #000000;
}

header .navbar-default .navbar-toggle:hover {
    background-color: #000000;
}

header .navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

header .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* End of Header */

/* Start of Landing Page Styles */
div .landing-area {
    position: relative;
    height: 660px;
    color: #ffffff;
    text-align: center;
    background-image: url("../images/city-balcony.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    background-color: #000000;
    border-style: none;
}

div .landing-area h2, h4 {
    position: relative;
    margin-top: 6%;
    text-align: center;
}

div .landing-area-heading {
    font-weight: bold;
    font-size: 3em;
    margin: 10px;
}

.landing-area-sub-heading {
    font-style: italic;
    font-size: 1em;
    margin: 10px;
}

.btn-twitter-sign-in {
    margin-top: 50px;
    border-radius: 50px;
    background-color: #55ACEE;
    border-color: #55ACEE;
    font-size: 20px;
    width: 400px;
    height: 70px;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}

.btn-twitter-sign-in:hover {
    color: #ffffff;
}

/* End of Landing Page Styles */

@media only screen and (max-width: 768px) {
    header .navbar-collapse.in {
        background-color: rgba(0, 0, 0, 0.5);
    }
    div .landing-area {
        height: 400px;
    }
}

@media only screen and (max-width: 992px) {
    div .landing-area {
        height: 550px;
    }
}

@media only screen and (max-width: 1200px) {
    div .landing-area {
        height: 660px;
    }
}

div .footer-area {
    padding: 30px 0px;
    margin: 0px;
}

footer .navbar-default {
    background-color: #ffffff;
    border: none;
    margin: 0;
}