<div class="row tweet-header-container">
    <div class="col-sm-1">
        <img class="tweet-profile-img" ng-src="{{vm.userPhoto}}"/>
    </div>
    <div class="col-sm-11">
        <h4 class="tweet-header-title">Your Tweet Dash Board</h4>
        <h6 class="tweet-scheduled">
            <ng-pluralize count="vm.listOfDelayedScheduledTweets.length"
                          when="{'0': 'You have {} post scheduled :-[',
                            '1': 'You have 1 post scheduled',
                            'other': 'You have {} posts scheduled'}">
            </ng-pluralize>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form name="tweetForm">
            <div class="input-group tweet-input-field">
                <span class="input-group-addon tweet-handle" id="basic-addon1">@{{vm.username}}</span>
            <textarea name="tweet" ng-model="vm.tweet" ng-minlength="1" ng-maxlength="120" ng-change="" ng-required="true" type="text" class="form-control input-lg" placeholder="Type your tweet here..."
                      aria-describedby="basic-addon1"/>
            </div>
            <div>
                <p class="tweet-count" ng-class="{red: tweetForm.tweet.$viewValue.length > 120}">
                    {{ 120 - tweetForm.tweet.$viewValue.length }} characters remaining</p>
            </div>

            <div class="tweet-btn-group">
                <div class='input-group date' id='datetimepicker1'>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                    <input name="scheduledDate" ng-model="vm.tweetDate" ng-required="true" type='datetime' class="form-control" />
                </div>

                <button  ng-disabled="!tweetForm.tweet.$valid || !tweetForm.scheduledDate.$valid"
                         type="button" class="btn btn-default btn-lg" ng-click="vm.tweetLater(vm.tweet, vm.tweetDate)">Schedule Tweet</button>
                <button type="button" class="btn btn-default btn-lg tweet-btn"
                    ng-disabled="!tweetForm.tweet.$valid" ng-click="vm.tweetNow(vm.tweet)">Tweet Now Instead</button>
            </div>
        </form>
    </div>
</div>

<div ng-show="vm.listOfDelayedScheduledTweets.length > 0" class="row">
    <div class="col-sm-12">
        <h3 class="tweet-schedule-scheduled-title">Scheduled</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="tweet-list-group tweet-list-view">
            <a ng-repeat="tweet in vm.listOfDelayedScheduledTweets" ng-href="" class="list-group-item">
                <h4 class="tweet-list-group-item-heading"
                    data-toggle="tooltip" data-placement="left"
                    title="{{tweet.data.postDateTime | date:'MMMM dd, yyyy h:mma'}}">
                    {{tweet.data.postDateTime | relativeDateTime}} ({{tweet.data.postDateTime | date:'MMMM dd, yyyy h:mma'}})</h4>
                <p class="tweet-list-group-item-text">{{tweet.data.status}}</p>
            </a>
        </div>
    </div>
</div>

<div ng-show="vm.listOfCompletedScheduledTweets.length > 0" class="row">
    <div class="col-sm-12">
        <h3 class="tweet-schedule-completed-title">Completed</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="tweet-list-group tweet-list-view">
            <a ng-repeat="tweet in vm.listOfCompletedScheduledTweets" ng-href="" class="list-group-item">
                <h4 class="tweet-list-group-item-heading" data-toggle="tooltip"
                    data-placement="left" title="{{tweet.data.postDateTime | date:'MMMM dd, yyyy h:mma'}}">
                    {{tweet.data.postDateTime | relativeDateTime}} ({{tweet.data.postDateTime | date:'MMMM dd, yyyy h:mma'}})</h4>
                <p class="tweet-list-group-item-text">{{tweet.data.status}}</p>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>