<form name="tweetForm">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <textarea name="tweet" ng-model="vm.tweet" ng-minlength="1" ng-maxlength="120" ng-change="" required type="text" class="form-control input-lg" placeholder="Type your tweet here..."
               aria-describedby="basic-addon1"/>
    </div>
    <div>
        <p class="tweet-count">{{ 120 - tweetForm.tweet.$viewValue.length }} characters remaining</p>
    </div>
    <div class="btn-group">
        <button  ng-disabled="!tweetForm.tweet.$valid" type="button" class="btn btn-default btn-lg">Add to Queue</button>
        <button ng-disabled="!tweetForm.tweet.$valid" type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" id="dropdown-menu1"
                aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Add to Queue</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-menu1">
            <li><a ng-click="vm.scheduleTweetNow(vm.tweet); vm.getScheduledTweets();">Tweet Now</a></li>
            <li><a ng-click="vm.scheduleTweet(vm.tweet, Date.now()); vm.getScheduledTweets();">Schedule Tweet</a></li>
        </ul>
    </div>
</form>
<div class="list-group">
    <a ng-repeat="tweet in vm.listOfScheduledTweets" ng-href="#" class="list-group-item">
        <h4 class="list-group-item-heading">{{tweet.state}}</h4>
        <p class="list-group-item-text">{{tweet.data.status}}</p>
    </a>
</div>